USE [master]
GO
/****** Object:  Database [PRUEBAS]    Script Date: 28/09/2020 08:03:17 p. m. ******/
CREATE DATABASE [PRUEBAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRUEBAS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PRUEBAS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PRUEBAS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PRUEBAS_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRUEBAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRUEBAS]
GO
/****** Object:  Table [dbo].[COLABORADOR]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLABORADOR](
	[COLABORADOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[COLABORADOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAREAS]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAREAS](
	[TAREAS_ID] [int] IDENTITY(1,1) NOT NULL,
	[TAREAS_DESCRIPCION] [varchar](255) NULL,
	[TAREAS_ESTADO] [varchar](255) NULL,
	[TAREAS_PRIORIDAD] [varchar](255) NULL,
	[TAREAS_FECHA_INICIO] [date] NULL,
	[TAREA_FECHA_FIN] [date] NULL,
	[TAREAS_NOTAS] [varchar](255) NULL,
	[TAREAS_COLABORADOR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TAREAS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COLABORADOR] ON 

INSERT [dbo].[COLABORADOR] ([COLABORADOR_ID], [NOMBRE]) VALUES (1, N'Estefany')
INSERT [dbo].[COLABORADOR] ([COLABORADOR_ID], [NOMBRE]) VALUES (2, N'Jordan')
INSERT [dbo].[COLABORADOR] ([COLABORADOR_ID], [NOMBRE]) VALUES (3, N'Emanuel')
SET IDENTITY_INSERT [dbo].[COLABORADOR] OFF
SET IDENTITY_INSERT [dbo].[TAREAS] ON 

INSERT [dbo].[TAREAS] ([TAREAS_ID], [TAREAS_DESCRIPCION], [TAREAS_ESTADO], [TAREAS_PRIORIDAD], [TAREAS_FECHA_INICIO], [TAREA_FECHA_FIN], [TAREAS_NOTAS], [TAREAS_COLABORADOR]) VALUES (43, N'Pruebas Services', N'EN PROCESO', N'ALTA', CAST(N'2020-09-01' AS Date), CAST(N'2020-09-04' AS Date), N'Probando Web', 2)
INSERT [dbo].[TAREAS] ([TAREAS_ID], [TAREAS_DESCRIPCION], [TAREAS_ESTADO], [TAREAS_PRIORIDAD], [TAREAS_FECHA_INICIO], [TAREA_FECHA_FIN], [TAREAS_NOTAS], [TAREAS_COLABORADOR]) VALUES (44, N'Pruebas Api', N'EN PROCESO', N'MEDIA', CAST(N'2020-09-28' AS Date), CAST(N'2020-09-29' AS Date), N'Pruebas api net core 3.1', 3)
INSERT [dbo].[TAREAS] ([TAREAS_ID], [TAREAS_DESCRIPCION], [TAREAS_ESTADO], [TAREAS_PRIORIDAD], [TAREAS_FECHA_INICIO], [TAREA_FECHA_FIN], [TAREAS_NOTAS], [TAREAS_COLABORADOR]) VALUES (45, N'Desarrollo', N'FINALIZADA', N'ALTA', CAST(N'2020-09-25' AS Date), CAST(N'2020-09-27' AS Date), N'Finalizado', 2)
SET IDENTITY_INSERT [dbo].[TAREAS] OFF
ALTER TABLE [dbo].[TAREAS]  WITH CHECK ADD FOREIGN KEY([TAREAS_COLABORADOR])
REFERENCES [dbo].[COLABORADOR] ([COLABORADOR_ID])
GO
/****** Object:  StoredProcedure [dbo].[PA_CREATE_TAREA]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_CREATE_TAREA]

	@TAREAS_DESCRIPCION VARCHAR(255),
	@TAREAS_ESTADO VARCHAR(255),
	@TAREAS_PRIORIDAD VARCHAR(255),
	@TAREAS_FECHA_INICIO VARCHAR(255),
	@TAREA_FECHA_FIN VARCHAR(255),
	@TAREAS_NOTAS VARCHAR(255),
	@TAREAS_COLABORADOR INT
AS
BEGIN
BEGIN TRANSACTION 
	INSERT INTO TAREAS VALUES(@TAREAS_DESCRIPCION,
							  @TAREAS_ESTADO,
							  @TAREAS_PRIORIDAD,
							  @TAREAS_FECHA_INICIO,
							  @TAREA_FECHA_FIN,
							  @TAREAS_NOTAS,
							  @TAREAS_COLABORADOR)
IF @@ERROR <> 0 
	ROLLBACK TRANSACTION 
	ELSE 
	COMMIT TRANSACTION
END



GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_TAREA]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_TAREA]
@TAREAS_ID INT
AS
BEGIN
	BEGIN TRANSACTION
		DELETE TAREAS WHERE TAREAS_ESTADO != 'EN PROCESO' AND TAREAS_ID = @TAREAS_ID
	IF @@ERROR <> 0 
	ROLLBACK TRANSACTION 
	ELSE 
	COMMIT TRANSACTION
END
GO
/****** Object:  StoredProcedure [dbo].[PA_LIST_COLABORADORES]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_LIST_COLABORADORES]
AS
BEGIN
	SET NOCOUNT ON
		SELECT 
		C.COLABORADOR_ID,
		C.NOMBRE
		FROM COLABORADOR AS C
	SET NOCOUNT OFF
END



GO
/****** Object:  StoredProcedure [dbo].[PA_LIST_TAREAS]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_LIST_TAREAS]
AS
BEGIN
	SET NOCOUNT ON
		SELECT 
		TA.TAREAS_ID,
		TA.TAREAS_DESCRIPCION,
		TA.TAREAS_ESTADO,
		TA.TAREAS_PRIORIDAD,
		TA.TAREAS_FECHA_INICIO,
		TA.TAREA_FECHA_FIN,
		TA.TAREAS_NOTAS,
		C.COLABORADOR_ID,
		C.NOMBRE
		FROM  TAREAS AS TA
		JOIN COLABORADOR AS C ON C.COLABORADOR_ID = TA.TAREAS_COLABORADOR
		ORDER BY TA.TAREAS_FECHA_INICIO ASC
	SET NOCOUNT OFF
END

GO
/****** Object:  StoredProcedure [dbo].[PA_LIST_TAREAS_COLABORADOR]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_LIST_TAREAS_COLABORADOR]
@COLABORADOR_ID INT
AS
BEGIN
	SET NOCOUNT ON
		SELECT 
		TA.TAREAS_ID,
		TA.TAREAS_DESCRIPCION,
		TA.TAREAS_ESTADO,
		TA.TAREAS_PRIORIDAD,
		TA.TAREAS_FECHA_INICIO,
		TA.TAREA_FECHA_FIN,
		TA.TAREAS_NOTAS
		FROM  TAREAS AS TA
		JOIN COLABORADOR AS C ON C.COLABORADOR_ID = TA.TAREAS_COLABORADOR
		WHERE TA.TAREAS_COLABORADOR = @COLABORADOR_ID
	SET NOCOUNT OFF
END

GO
/****** Object:  StoredProcedure [dbo].[PA_LIST_TAREAS_ESTADO]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_LIST_TAREAS_ESTADO]
@ESTADO VARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON
		SELECT 
		TA.TAREAS_ID,
		TA.TAREAS_DESCRIPCION,
		TA.TAREAS_ESTADO,
		TA.TAREAS_PRIORIDAD,
		TA.TAREAS_FECHA_INICIO,
		TA.TAREA_FECHA_FIN,
		TA.TAREAS_NOTAS
		FROM  TAREAS AS TA
		JOIN COLABORADOR AS C ON C.COLABORADOR_ID = TA.TAREAS_COLABORADOR
		WHERE TA.TAREAS_COLABORADOR = @ESTADO
	SET NOCOUNT OFF
END

GO
/****** Object:  StoredProcedure [dbo].[PA_LIST_TAREAS_FECHAS]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_LIST_TAREAS_FECHAS]
@FECHAS VARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON
		SELECT 
		TA.TAREAS_ID,
		TA.TAREAS_DESCRIPCION,
		TA.TAREAS_ESTADO,
		TA.TAREAS_PRIORIDAD,
		TA.TAREAS_FECHA_INICIO,
		TA.TAREA_FECHA_FIN,
		TA.TAREAS_NOTAS
		FROM  TAREAS AS TA
		JOIN COLABORADOR AS C ON C.COLABORADOR_ID = TA.TAREAS_COLABORADOR
		WHERE TA.TAREAS_COLABORADOR = @FECHAS
	SET NOCOUNT OFF
END

GO
/****** Object:  StoredProcedure [dbo].[PA_LIST_TAREAS_ID]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_LIST_TAREAS_ID]
@TAREAS_ID INT
AS
BEGIN
	SET NOCOUNT ON
		SELECT 
		TA.TAREAS_ID,
		TA.TAREAS_DESCRIPCION,
		TA.TAREAS_ESTADO,
		TA.TAREAS_PRIORIDAD,
		TA.TAREAS_FECHA_INICIO,
		TA.TAREA_FECHA_FIN,
		TA.TAREAS_NOTAS,
	    C.COLABORADOR_ID,
		C.NOMBRE
		FROM  TAREAS AS TA
		JOIN COLABORADOR AS C ON C.COLABORADOR_ID = TA.TAREAS_COLABORADOR
		WHERE TA.TAREAS_ID = @TAREAS_ID
	SET NOCOUNT OFF
END

GO
/****** Object:  StoredProcedure [dbo].[PA_LIST_TAREAS_PRIORIDAD]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_LIST_TAREAS_PRIORIDAD]
@PRIORIDAD VARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON
		SELECT 
		TA.TAREAS_ID,
		TA.TAREAS_DESCRIPCION,
		TA.TAREAS_ESTADO,
		TA.TAREAS_PRIORIDAD,
		TA.TAREAS_FECHA_INICIO,
		TA.TAREA_FECHA_FIN,
		TA.TAREAS_NOTAS
		FROM  TAREAS AS TA
		JOIN COLABORADOR AS C ON C.COLABORADOR_ID = TA.TAREAS_COLABORADOR
		WHERE TA.TAREAS_COLABORADOR = @PRIORIDAD
	SET NOCOUNT OFF
END


GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_TAREA]    Script Date: 28/09/2020 08:03:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_UPDATE_TAREA]
	@TAREAS_ID INT,
	@TAREAS_DESCRIPCION VARCHAR(255),
	@TAREAS_ESTADO VARCHAR(255),
	@TAREAS_PRIORIDAD VARCHAR(255),
	@TAREAS_FECHA_INICIO VARCHAR(255),
	@TAREA_FECHA_FIN VARCHAR(255),
	@TAREAS_NOTAS VARCHAR(255),
	@TAREAS_COLABORADOR INT
AS
BEGIN
BEGIN TRANSACTION 
	UPDATE TAREAS SET TAREAS_DESCRIPCION = @TAREAS_DESCRIPCION,
					  TAREAS_ESTADO = @TAREAS_ESTADO,
					  TAREAS_PRIORIDAD = @TAREAS_PRIORIDAD,
					  TAREAS_FECHA_INICIO = @TAREAS_FECHA_INICIO,
					  TAREA_FECHA_FIN = @TAREA_FECHA_FIN,
					  TAREAS_NOTAS = @TAREAS_NOTAS,
					  TAREAS_COLABORADOR = @TAREAS_COLABORADOR
					  WHERE TAREAS_ID = @TAREAS_ID AND TAREAS_ESTADO != 'FINALIZADA'
IF @@ERROR <> 0 
	ROLLBACK TRANSACTION 
	ELSE 
	COMMIT TRANSACTION
END
GO
USE [master]
GO
